<div class="flex h-screen">
  <div class="w-[50%]">

    <form (ngSubmit)="onFormSubmit()" [formGroup]="contactsForm" class="px-4">
      <h1 class="py-10 font-extrabold text-5xl">Contacts Angular App</h1>
    <div class="mt-2">
      <label for="name" class="font-bold">Name</label>
      <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="name"/>
    </div>
    <div class="mt-2">
      <label for="email" class="font-bold">Email</label>
      <input type="email" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="email"/>
    </div>
    <div class="mt-2">
      <label for="phone" class="font-bold">Phone</label>
      <input type="phone" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="phone"/>
    </div>
    <div class="mt-2">
      <label for="favorite" class="flex items-center font-bold">
        <input type="checkbox" formControlName="favorite" class="h-4 w-4"/>
        <span>Favorite</span>
      </label>
    </div>


    <div class="mt-2">
      <button type="submit" class="bg-slate-800 text-white px-4 py-2 rounded-sm w-full">
        Add contact
      </button>
    </div>
  </form>

  </div>
  <div class="overflow-auto w-[50%]">

    @if(contacts$ | async; as contacts){

      @if(contacts.length > 0){
        <ul>
          @for (contact of contacts; track $index) {
            <li class="p-2 bg-slate-100 border-b-2 border-slate-200">
              <div class="flex items-center mt-2 gap-4">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>

                <span class="font-light text-3xl">{{contact.name}}</span>
              </div>
              <div class="flex gap-10 mt-4">
                <span class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                  </svg>
                  <span class="ms-2">{{contact.email}}</span>
                </span>
                <span class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                  </svg>
                  <span class="ms-2">{{contact.phone}}</span>
                </span>
              </div>
              <div class="mt-4 flex w-full gap-4">
                <a class="bg-emerald-400 py-1 px-2 rounded-sm cursor-pointer"
                href="{{'tel:' + contact.phone}}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
                  </svg>

                </a>
                <button class="bg-slate-50 text-dark py-2 px-4 rounded-sm" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M22 10.5h-6m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM4 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 10.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                  </svg>

                </button>
              </div>
            </li>
          }
        </ul>

      }@else{
        <p>No contacts found</p>
      }
    }

  </div>
</div>

